@page "/order-details/{OrderId:int}"

<h3>Order Details</h3>

@if (_order != null)
{
    <p><b>Customer Information</b></p>
    <hr />
    <p>@_order.CustomerName</p>
    <p>@_order.CustomerAddress</p>
    <p>@_order.CustomerCity</p>
    <p>@_order.CustomerStateProvince</p>
    <p>@_order.CustomerCountry</p>
    <br />

    <br />
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in _order.OrderLineItems)
            {
                <tr>
                    <td>@item.Product.Name</td>
                    <td>@item.Product.Price</td>
                    <td>@item.Quantity</td>
                </tr>
            }
        </tbody>
    </table>

    <br/>
    <button type="button" class="btn btn-primary" @onclick="HandleProcessOrder">Mark Order as Processed</button>
}